<div class="container col-md-4 col-md-offset-4">
    <h1 class="page-header">Graph</h1>

    <div 
    	 ang:chartjs:doughnut data-chartjs-model="doughnutData"
         data-chartjs-width="250"
         data-chartjs-height="250"
         data-chartjs-segment-show-stroke="true"
         data-chartjs-segment-stroke-color="#fff"
         data-chartjs-segment-stroke-width="3"
         data-chartjs-percentage-inner-cutout="60"
         data-chartjs-animation="true"
         data-chartjs-animation-easing="easeOutQuint"
         data-chartjs-animate-rotate="true"
         data-chartjs-animate-scale="true"></div>
    <br>
    <br>	
    <button class="btn" ng-click="back()">Back to teacher setting</button>
    
    <!--<div class="row placeholders">-->
        <!--<div class="col-xs-6 col-sm-3 placeholder">-->
            <!--<img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
            <!--<h4>CSCI5221</h4>-->
            <!--<span class="text-muted">score distribution</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<h2 class="sub-header">Scores</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>ID</th>-->
                <!--<th>Name</th>-->
                <!--<th>Score</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>111</td>-->
                <!--<td>Lorem</td>-->
                <!--<td>80</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>112</td>-->
                <!--<td>Joe</td>-->
                <!--<td>100</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>113</td>-->
                <!--<td>Wang</td>-->
                <!--<td>90</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>114</td>-->
                <!--<td>Tom</td>-->
                <!--<td>50</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>115</td>-->
                <!--<td>James</td>-->
                <!--<td>30</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
